// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

/*-- scss:defaults --*/
$font-family-base: 'Montserrat', sans-serif;

// Custom Variables
$retro: 'Handjet', cursive;

/*-- scss:rules --*/
#title-block-header.quarto-title-block.default .quarto-title .title {
  font-family: $retro;
  font-size: $font-size-base * 5;
  line-height: 0.8;
}

p.subtitle.lead {
  font-family: $retro;
  font-size: $font-size-base * 4.5;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px !important;
}

.about-image {
  margin-top: 1.0em;
}

#webr-run-button-1.btn.btn-default.btn-webr,
#webr-run-button-2.btn.btn-default.btn-webr,
#webr-run-button-3.btn.btn-default.btn-webr,
#webr-run-button-4.btn.btn-default.btn-webr{
  background-color: #18bc9c;
}

// Navbar

.navbar {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 1px solid body-mix(50%);

  &.fixed-top {
    border-width: 0 0 1px;
  }

  &.fixed-bottom {
    border-width: 1px 0 0;
  }
}

.nav-footer-center {
  min-height: unset;

  p,
  ol,
  ul,
  dl {
    margin-bottom: 0;
  }

  .toc-actions {

    ol,
    ul {
      padding-left: 0;
    }
  }
}

.nav-footer {
  border-top: 1px solid body-mix(50%);
}

.navbar-logo {
  max-height: 2em;
}

.navbar-nav {

  .show>.nav-link,
  .active>.nav-link,
  .nav-link.active {
    color: #151515;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #0e0e0e;
  }

  .nav-link {
    color: body-mix(50%);
  }

  a.nav-link,
  a.nav-link:after,
  a.nav-link:before {
    transition: all .75s;
  }

  a.nav-link {
    position: relative;
  }

  a.nav-link:hover:after {
    width: 80%;
  }

  a.nav-link:after {
    position: absolute;
    border-top: .1em solid body-mix(90%);
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
  }

  .show>.nav-link,
  .active>.nav-link,
  .nav-link.active {
    font-weight: bolder;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: $body-color;
  }
}

@media (max-width: 992px) {
  .navbar-expand-lg {

    a.nav-link.active:after,
    a.nav-link.active:hover:after,
    a.nav-link:hover:after,
    a.nav-link:after {
      border-top: 0 solid $body-color;
    }
  }
}

.navbar-title {
  transition: all .35s ease;
  display: inline-block;
  padding: .25em .4em;
  position: relative;
  font-weight: bolder;
}

.navbar-title::before,
.navbar-title::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.navbar-title::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid $body-color;
  border-right: 3px solid $body-color;
  transform: translate(-100%, 50%);
}

.navbar-title:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid $body-color;
  border-left: 3px solid $body-color;
  transform: translate(100%, -50%)
}

.navbar-title:hover:before,
.navbar-title:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.quarto-title-banner .quarto-title .title {
  color: $body-color;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: $body-color;
}

.quarto-title-banner {
  margin-bottom: 1em;
  color: $body-color;
  background: body-mix(99%);
}
