// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');


//
// Color system
//

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #adafae !default;
$gray-500: #888 !default;
$gray-600: #555 !default;
$gray-700: #282828 !default;
$gray-800: #222 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #2a9fd6 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #c00 !default;
$orange: #fd7e14 !default;
$yellow: #f80 !default;
$green: #77b300 !default;
$teal: #20c997 !default;
$cyan: #93c !default;

$primary: #fafafa !default;
$secondary: #333333 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;

$min-contrast-ratio: 2.25 !default;


// Body

@function body-mix($weight) {
  @return mix($body-bg, $body-color, $weight);
}

// $body-bg: body-mix(100%) !default;
// $body-color: body-mix(0%) !default;
$body-bg: $secondary !default;
$body-color: $primary !default;

$light: $body-color !default;
$dark: $body-bg !default;

$contrast-bg: color-contrast($body-bg) !default;


/*-- scss:defaults --*/
$navbar-bg: #3A3B3C;
$font-family-base: 'Montserrat', sans-serif;
$success: #CE2029 !default;

// Custom Variables
$dracula: 'Pirata One', cursive;

/*-- scss:rules --*/
#title-block-header.quarto-title-block.default .quarto-title .title {
  font-family: $dracula;
  font-size: $font-size-base * 4;
  text-shadow: 3px 3px 0 rgba(206, 32, 41, 1);
}

p.subtitle.lead {
  font-family: $dracula;
  font-size: $font-size-base * 3.5;
  margin-top: -20px;
  margin-bottom: 0px;
  padding-top: 0px !important;
  text-shadow: 3px 3px 0 rgba(206, 32, 41, 1);
}

code {
  color: #EA776A;
}

.about-image {
  margin-top: 1.5em;
}

#webr-run-button-1.btn.btn-default.btn-webr,
#webr-run-button-2.btn.btn-default.btn-webr,
#webr-run-button-3.btn.btn-default.btn-webr,
#webr-run-button-4.btn.btn-default.btn-webr {
  background-color: #ce2029;
}

// Navbar

.navbar {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 1px solid body-mix(50%);

  &.fixed-top {
    border-width: 0 0 1px;
  }

  &.fixed-bottom {
    border-width: 1px 0 0;
  }
}

.nav-footer-center {
  min-height: unset;

  p,
  ol,
  ul,
  dl {
    margin-bottom: 0;
  }

  .toc-actions {

    ol,
    ul {
      padding-left: 0;
    }
  }
}

.nav-footer {
  border-top: 1px solid body-mix(50%);
}

.navbar-logo {
  max-height: 2em;
}

.navbar-nav {

  .show>.nav-link,
  .active>.nav-link,
  .nav-link.active {
    color: #fff;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #fff;
  }

  .nav-link {
    color: body-mix(50%);
  }

  a.nav-link,
  a.nav-link:after,
  a.nav-link:before {
    transition: all .75s;
  }

  a.nav-link {
    position: relative;
  }

  a.nav-link:hover:after {
    width: 80%;
  }

  a.nav-link.active:after,
  a.nav-link.active:hover:after {
    border-top: .2em solid $body-color;
  }

  a.nav-link:hover:after,
  a.nav-link:after {
    border-top: .1em solid $body-color;
  }

  a.nav-link:after {
    position: absolute;
    border-top: .1em solid body-mix(90%);
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
  }

  .show>.nav-link,
  .active>.nav-link,
  .nav-link.active {
    font-weight: bolder;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: $body-color;
  }
}

@media (max-width: 992px) {
  .navbar-expand-lg {

    a.nav-link.active:after,
    a.nav-link.active:hover:after,
    a.nav-link:hover:after,
    a.nav-link:after {
      border-top: 0 solid $body-color;
    }
  }
}

.navbar-brand {
  color: $body-color;
}

.nav-tabs {

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $body-color;
    background-color: $body-bg;
    border-color: $body-color;
  }

  .nav-link,
  .nav-pills .nav-link {
    color: $body-color;
  }

  border-bottom: 1px solid $body-color;
}

.navbar-title {
  transition: all .35s ease;
  display: inline-block;
  padding: .25em .4em;
  position: relative;
  font-weight: bolder;
}

.navbar-title::before,
.navbar-title::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.navbar-title::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid $body-color;
  border-right: 3px solid $body-color;
  transform: translate(-100%, 50%);
}

.navbar-title:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid $body-color;
  border-left: 3px solid $body-color;
  transform: translate(100%, -50%)
}

.navbar-title:hover:before,
.navbar-title:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.quarto-title-banner .quarto-title .title {
  color: $body-color;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: $body-color;
}

.quarto-title-banner {
  margin-bottom: 1em;
  color: $body-color;
  background: body-mix(99%);
}
